body
:lang(en) {font-family: sans-serif;}

body {
  max-width: 930px;
  min-width: 310px;
  margin: 0 auto;
}

.entry {
  width: 256px;
  padding: 0.5em 1.62em 0.5em 1em;
  margin: 0.5em 0.31em 0.5em 0.31em;
  border-left: 2px solid red;
  line-height: 1.62;
}

.entry:target {
  background-color: #FFFFD8;
}

.title {
  font-weight: bold;
}
