body
:lang(en) {font-family: sans-serif;}

body {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
  font-size: 92%;
  font-family: "Noto Sans CJK SC", sans-serif, "HeiTi SC", "Droid Sans";
}

figure img {
  max-width: 100%;
  height: auto;
}

#entries-container {
  margin: 0 auto;
  background-color: inherit;
}

.entry, .title {
  width: 240px;
  background-color: inherit;
}

.entry {
  padding: 0.5em 1.62em 0.5em 1em;
  margin: 0.5em 0.31em 0.5em 0.31em;
  border-left: 1px solid red;
  line-height: 1.62;
}

.entry:target {
  background-color: #FFFFD8;
}

.title {
  font-weight: bold;
}
